body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #3a6351; /* Verde apagado elegante */
  padding: 12px 20px;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
  font-size: 20px;
}

nav ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #b6dfc4; /* Verde clarito al pasar el mouse */
}

h2{
  text-align: center;
}

.container1{
  max-width: 900px;
  margin: 30px auto;
  padding: 25px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}

.container {
  max-width: 1200px;
  margin: 10px auto;
  padding: 25px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}

h1 {
  font-size: 50px;
  text-align: center;
  color: #3a6351;
  margin-bottom: 20px;
}

form input,
form select{
  display: block;
  width: 97%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

form button {
  display: block;
  width: 17%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  background-color: #6aa984;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #5b9373;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px 15px;
  text-align: center;
}

th {
  background-color: #e9f4ee; /* Verde muy clarito */
  color: #2f4f4f;
}

tr:nth-child(even) {
  background-color: #f4f7f6;
}

.btn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.btn-warning {
  background-color: #4a7c59; /* Verde suave */
  margin-right: 5px;
}

.btn-warning:hover {
  background-color: #3a634a;
}

.btn-danger {
  background-color: #d9534f;
}

.btn-danger:hover {
  background-color: #c9302c;
}

