{% extends "layouts/base.html" %}
{% block content %}
<div class="container">
  
  <h1>Control de Estudiantes</h1>
  <h2>Hola, {{ request.user.first_name }}. Bienvenido al sistema de estudiantes.</h2>

  {% if editando %}
    <h2>Editando estudiante</h2>
    <form method="post" action="{% url 'editar_estudiante' estudiante_id %}">
  {% else %}
    <h2>Agregar nuevo estudiante</h2>
    <form method="post" action="{% url 'crear_estudiante' %}">
  {% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Agregar</button>
  </form>

  <hr>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Carrera</th>
        <th>Ciclo</th>
        <th>Correo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody id="tabla-estudiantes">
      {% for estudiante in estudiantes %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ estudiante.nombre }}</td>
        <td>{{ estudiante.carrera }}</td>
        <td>{{ estudiante.ciclo }}</td>
        <td>{{ estudiante.correo }}</td>
        <td>
          <a href="{% url 'editar_estudiante' estudiante.id %}" class="btn btn-warning">Editar</a>
          <a href="{% url 'eliminar_estudiante' estudiante.id %}" class="btn btn-danger" onclick="return confirm('¿Seguro que deseas eliminar este estudiante?');">Borrar</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

