{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Inicio de Sesión{% endblock %}

{% block content %}
<div class="login-container">
  <h2>Inicio de Sesión</h2>
  <form method="post" action="{% url 'login_view' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <label for="id_username">Usuario:</label>
    {{ form.username }}

    <label for="id_password">Contraseña:</label>
    {{ form.password }}

    <button type="submit">Ingresar</button>

    <div style="text-align:center; margin-top:16px;">
      ¿No te has registrado?
      <a href="{% url 'register_view' %}">Regístrate aquí</a>
    </div>
  </form>
</div>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'loginstyle.css' %}">
{% endblock %}



